@import url(https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;0,700;1,300&display=swap);

$primary-font: 'Rubik';
$darkGrey: lighten(rgb(3, 4, 20), 20%);
$lightGrey: lighten(rgb(0, 0, 0), 75%);
$almostWhite:rgb(253, 253, 255);

@mixin darkTheme($darkTheme: $darkGrey) {
  background: $almostWhite;
  box-shadow: 0 0 10px darken($lightGrey, 10%);
  color: $darkGrey;
  border: 1px $darkGrey;
  border-radius: 5px;
}

body {
  background-color: rgb(6, 12, 26);
}

.App {
  font-family: $primary-font;
  text-align: center;
  padding: 2% 5%;
  width: 80%;
  margin: 20px auto auto;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

.display-none {
  display: none;
}
.showSuggestions {
  display: block;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.city {
  width: 250px;
  margin-top: 30px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  max-width: 300px;
  margin: auto;
}

.suggestions {
  color: rgba(255, 255, 255, 0.8);
  width: 250px;
  position: absolute;
  z-index: 2;
  align-self: center;
  margin: 0;
  margin-top: -5px;
  top: 130px;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.EventList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  margin-top: 50px;
}

.EventList .listItem {
  transition: .5s;
  &:hover:nth-child(even) {
    z-index: 999;
    box-shadow: 0 0 10px darken($lightGrey, 25%);
    transform: scale(1.1) translate3d(-25px, 10px, 12px);
  }
  &:hover:nth-child(odd) {
    z-index: 999;
    box-shadow: 0 0 10px darken($lightGrey, 25%);
    transform: scale(1.1) translate3d(25px, 10px, 12px);
  }
}

.event {
  @include darkTheme;
  padding: 10px 10px 35px;
  text-align: left;
  position: relative;
  transition: .4s;
  
  min-height: 200px;
}

.details-btn,
.attend-btn {
  font-family: $primary-font;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 150px;
  padding: 5px 8px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .2s;
  &:hover {
    box-shadow: 0 0 5px darken($lightGrey, 25%);
  }
}

.attend-btn {
  position: absolute;
  left: 10%;
  margin: 0;
  background-color: rgb(138, 231, 125);
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.location {
  font-size: 20px;
}

.summary {
  font-size: 35px;
  text-align: center;
}

.description {
  overflow-x: hidden;
  font-weight: 300;
  margin: 50px 25px 0;
  font-size: 20px;
}

.date {
  margin-top: 10px;
}

.timezone {
  margin-top: 5px;
  font-style: italic;
}

.location,
.date,
.timezone {
  margin-left: 10px;
}

.number-of-events input {
  width: 100px;
  margin: 10px auto;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.Alert {
  position: fixed;
  top: 20px;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}
.recharts-surface {
  overflow: visible;
}

.login-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
}

.google-btn {
  width: 184px;
  height: 42px;
  margin: 1rem;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}
.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: -8px;
  width: 18px;
  height: 18px;
}
.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

.navbar {
  @include darkTheme;
  position: fixed;
  transform: translateX(-12%);
  top: 0;
  width: 130%;
  height: 65px;
}

@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1200px) {
  .EventList {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .city {
    width: 250px;
    margin-top: 50px;
  }

  .suggestions {
    top: 143px;
  }
}

@media only screen and (max-width: 500px) {
  .summary {
    font-size: 30px;
  }

  .attend-btn {
    position: absolute;
    left: 12%;
  }
}