@import url(https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;0,700;1,300&display=swap);

$primary-font: 'Rubik';
$darkGrey: lighten(rgb(3, 4, 20), 20%);
$lightGrey: lighten(rgb(0, 0, 0), 75%);
$almostWhite:rgb(253, 253, 255);
$bgColor: rgb(6, 12, 26);

@mixin lightTheme($darkTheme: $darkGrey) {
  background: $almostWhite;
  box-shadow: 0 0 10px darken($lightGrey, 10%);
  color: $darkGrey;
  border: 1px $darkGrey;
  border-radius: 5px;
}

@mixin darkTheme($lightTheme: $bgColor) {
  background: lighten($bgColor, 15%);
  box-shadow: 0 0 10px lighten($bgColor, 20%);
  color: $almostWhite;
  border: 1px $almostWhite;
  border-radius: 5px;
}

body {
  background-color: $bgColor;
}

.App {
  font-family: $primary-font;
  text-align: center;
  
  width: 80%;
  margin: 20px auto auto;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

.display-none {
  display: none;
}
.showSuggestions {
  display: block;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.city {
  width: 250px;
  margin-top: 50px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  max-width: 300px;
  margin: auto;
}

.suggestions {
  color: rgba(255, 255, 255, 0.8);
  width: 250px;
  position: absolute;
  z-index: 2;
  align-self: center;
  margin: 0;
  margin-top: -5px;
  top: 115px;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.EventList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  margin-top: 50px;
}

.EventList .listItem {
  transition: .5s;
  &:hover:nth-child(even) {
    box-shadow: 5px 0 2px 5px lighten($bgColor, 50%);  
  }
  &:hover:nth-child(odd) {
    box-shadow: -5px 0 2px 5px lighten($bgColor, 50%);
  }
}

.event {
  @include darkTheme;
  padding: 10px 10px 35px;
  text-align: left;
  position: relative;
  transition: .4s;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.location {
  font-size: 20px;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  text-align: center;
  min-height: 150px;
}

.date {
  margin-top: 10px;
}

.timezone {
  margin: 10px auto;
  font-style: italic;
}

.location,
.date,
.timezone {
  margin-left: 10px;
  color: lighten($bgColor, 80%);
}

.open-btn {
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  width: auto;
  &:hover {
    box-shadow: 0 0 5px $bgColor;
  }
}

.number-of-events input {
  width: 100px;
  margin: 10px auto;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.Alert {
  position: fixed;
  top: 20px;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}
.recharts-surface {
  overflow: visible;
}

.login-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
}

.google-btn {
  width: 184px;
  height: 42px;
  margin: 1rem;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}
.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: -8px;
  width: 18px;
  height: 18px;
}
.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

.navbar {
  @include darkTheme;
  position: fixed;
  transform: translateX(-12%);
  top: 0;
  width: 130%;
  height: 65px;
  z-index: 999;
}

.shapes {
  height: 50px;
  width: 50px;
  .shape1,
  .shape2,
  .shape3,
  .shape4,
  .shape5,
  .shape6 {
    position: fixed;
    border-radius: 56% 44% 100% 0% / 100% 44% 56% 0%;
    background-color: $almostWhite;
    animation: slide 2s ease-in-out alternate infinite;
    z-index: -1;
    opacity: 0.5;
  }
  .shape1 {
    left: 5%;
    top: 10%;
    animation-delay: -2s;    
  }
  .shape2 {
    left: 9%;
    top: 30%;
    animation-delay: -7s;
  }
  .shape3 {
    left: 2%;
    top: 65%;
    animation-delay: -4s;
  }
  .shape4 {
    left: 95%;
    top: 15%;
    animation-delay: -2.5s;
  }
  .shape5 {
    left: 91%;
    top: 75%;
    animation-delay: -9s;
  }
  .shape6 {
    left: 88%;
    top: 39%;
    animation-delay: -4s;
  }
  .circle {
    background-color: lighten($bgColor, 10%);
    height: 30px;
    width: 30px;
    transform: translate(13px, 6.5px);
    border-radius: 50%;
  }
}

@keyframes slide {
  0% {
            transform: scale(.8) rotate(-45deg);
  }
  100% {
            transform: scale(1.2) rotate(-40deg);
            background-color: rgb(238, 109, 109);
  }
}

@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1200px) {
  .EventList {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

}

@media only screen and (max-width: 500px) {
  .summary {
    font-size: 30px;
  }

  .attend-btn {
    position: absolute;
    left: 12%;
  }
}